.bg-side{
    background-color: #391D34;
    color: white;
    height: 100vh;
    width: 30vh;
    
}

#titulo {
    text-align: center;
    font-size: 40px;
}

#home {
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

#adotar {
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
#divulgar {
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    background-color: #572c4f;
    font-size: 20px;
   
    
}

#sair {

    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;

}

.sidebar{
    text-align: center;
    padding: 20px;

}
.wrapper {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    padding:20px;
    width: 50vw;
    background: rgb(238, 238, 238);
    box-shadow: 4px 4px 10px rgba(0,0,0,.3);
}

.font-vinho{
    color: #A24D52;
}

#meuspets {

    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;

}

